body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .bottom-btn{
    margin-bottom: 15px;
  }
  .col.s12.m9.card {
    padding-left: 20px;
    padding-right: 20px;
}
span.card-title {
  margin-left: 12px;
  margin-top: 33px;
}
#delete-form{
  display: inline;
}
.welcome-margin{
  margin-top: 7%;
  
}
.chip{
  margin-top: 13px;
}
.card .card-content {
  padding: 15px;
  border-radius: 0 0 2px 2px;
}
textarea.materialize-textarea {
  overflow-y: hidden;
  padding: 0.8rem 0 0.6rem 0;
  resize: none;
  min-height: 3rem;
}
body p{
  font-family: 'Roboto', sans-serif;
}
h4{
  font-family: 'Roboto', sans-serif;
}
 td,th{
  font-family: 'Roboto', sans-serif;
}

.comment {
  padding: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.facebook {
  background-color: #3b5998 !important;
  color: #fff !important;
}
.twitter {
  background-color: #55acee !important;
  color: #fff !important;
}
.social-button{
  margin-bottom: 12px;
}
@media only screen and (max-width: 500px) {
  .btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    margin-bottom: 3px
}
}