body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    background-color:#fcfcfc
  }
  .bottom-btn{
    margin-bottom: 15px;
  }
  .col.s12.m9.card {
    padding-left: 20px;
    padding-right: 20px;
}
span.card-title {
  margin-left: 12px;
  margin-top: 33px;
}
#delete-form{
  display: inline;
}
.welcome-margin{
  margin-top: 7%;
  padding: 20px;
  
}
.chip{
  margin-top: 13px;
}
.card .card-content {
  padding: 15px;
  border-radius: 0 0 2px 2px;
}
textarea.materialize-textarea {
  overflow-y: hidden;
  padding: 0.8rem 0 0.6rem 0;
  resize: none;
  min-height: 3rem;
}
body p{
  font-family: 'Roboto', sans-serif;
}
h4{
  font-family: 'Roboto', sans-serif;
}
 td,th{
  font-family: 'Roboto', sans-serif;
}

.comment {
  padding: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.facebook {
  background-color: #3b5998 !important;
  color: #fff !important;
}
.twitter {
  background-color: #55acee !important;
  color: #fff !important;
}
.social-button{
  margin-bottom: 21px;
}
i.fa.fa-bars {
  font-size: 26px;
}
.social-container {
  padding-top: 5%;
  padding-left: 5%;
  border-right: 2px solid #f44336;
}
.login-container {
  padding-right: 2%;
  padding-left: 2%;
}
button.btn.red.center {
  margin-left: 2%;
}
h6.login-header {
  padding-left: 5%;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
}
.registrationLink {
  padding: 2% 0px 1% 2%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 500px) {
  .btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    margin-bottom: 3px
}
.page-footer {
   padding-top: 1px;
  color: #fff;
  background-color: #ee6e73;
}
.social-container {
 border: none;
}
}