<div class="center welcome-margin">
<h3>Welcome</h3>
{{#if user}}
 {{else}}   
<a class="btn red darken-1 social google " href="/auth/google"><i class="fa fa-google left" aria-hidden="true"></i> Sign in with google</a>
 {{/if}}
 </div>